<?xml version="1.0" standalone="yes"?>
<dataroot>
    <settings>
        <settingName>sfAccess</settingName>
        <settingValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXkZRla0hvUe1OyxRAHfiZwAAAAACAAAAAAADZgAAwAAAABAAAAA/wShuWewbj1dqgXii2mUpAAAAAASAAACgAAAAEAAAALLlkoU0ASybmABSpQ/+6hfoAAAAmhdXWhFiUpDjPD2bMTJKo/NOH9WTvzavMyp2iTsswrV3HyziFdOC0lW6aZZUP9Kw7HCSId4VrvyOPpXinkuwjVJu+/XgAwbY3mgtve+g/jm/ugWgjJJfa+/DmpKeNzwbn0Mz5BnGgEkHFq1zhEcc/aMgsbC5RHNNAnyZXXzBkRtes7LE4R4dUcgMLFev+NW2o8F4RlDV2AC3AZ4MKA4NRC9g9wgOsX2q92dbkzLiVALOWxTjTMZZK3MEzSeGbejpSjGUFBblYLChKM5GR0Rr18YSFtWtjmz3FDJO/nbiISP6w4bijEW7gRQAAAAbrRw+g3yqbEfKDaZjW9ZYf6CUsQ==</settingValue>
    </settings>
    <settings>
        <settingName>sfRefresh</settingName>
        <settingValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXkZRla0hvUe1OyxRAHfiZwAAAAACAAAAAAADZgAAwAAAABAAAABeSyzV3IO2Nph3G7MN92QEAAAAAASAAACgAAAAEAAAAI/zHKIxMJsJQdsU7vXg6YqwAAAAFy6g3DsiR4aJqEqkhMTtn/sGVq6OwbGvktx6Yw/pl74rkHgbvBDMpi+En1sB3fuotFfFols6RtuX7MYGG51kyq38x2incKkU5oQ0zSH8uethrY+149WBp0oY/rENxbCz0z9jfuMBuGrD1euTsxZEaLZfjA8zkVMaa49JXQCFvbSStFVN/1vc3LCueNFG6UvBvWFgkpcSkdtsSsalhDBtzzhwbqqaeJ0D62vq6rDbAQwUAAAATB9oY3eKEEajkb3l2FDhVCg1nPI=</settingValue>
    </settings>
    <settings>
        <settingName>sfName</settingName>
        <settingValue>Chris Dault</settingValue>
    </settings>
    <settings>
        <settingName>sfEmail</settingName>
        <settingValue>cdault@virainsight.com</settingValue>
    </settings>
    <settings>
        <settingName>sfPicUrl</settingName>
        <settingValue>https://virainsight.file.force.com/profilephoto/005/F</settingValue>
    </settings>
    <settings>
        <settingName>sfLoggedIn</settingName>
        <settingValue>true</settingValue>
    </settings>
    <settings>
        <settingName>vikiPath</settingName>
        <settingValue>http://10.0.4.11/doku.php</settingValue>
    </settings>
    <settings>
        <settingName>cplMainGenShow</settingName>
        <settingValue>True</settingValue>
    </settings>
    <settings>
        <settingName>cplMainLkyShow</settingName>
        <settingValue>True</settingValue>
    </settings>
    <settings>
        <settingName>cplMainMiscShow</settingName>
        <settingValue>True</settingValue>
    </settings>
    <settings>
        <settingName>cplMainOppShow</settingName>
        <settingValue>True</settingValue>
    </settings>
    <settings>
        <settingName>cplMainTlsShow</settingName>
        <settingValue>True</settingValue>
    </settings>
    <settings>
        <settingName>cplMainEPSShow</settingName>
        <settingValue>True</settingValue>
    </settings>
    <settings>
        <settingName>cplSalesForce</settingName>
        <settingValue>True</settingValue>
    </settings>
    <settings>
        <settingName>cplMainPropShow</settingName>
        <settingValue>True</settingValue>
    </settings>
</dataroot>